/*LESS Styles*/
header {
  color: #2196F3;
  font-size: 2em;
  background-color: #9E9E9E;
}
section {
  color: #2196F3;
  font-size: 2em;
  background-color: #9E9E9E;
}
footer {
  color: #2196F3;
  background-color: #9E9E9E;
  font-size: 2em;
}
/*LESS CONVERTED INTO CSS STYLES*/
/*header {
  color: #2196F3;
  font-size: 2em;
  background-color: #9E9E9E;
}

section {
  color: red;
  font-size: 1.5em;
  background-color: gray;
}

footer {
  color: white;
  background-color: blue;
  font-size: 1em;
}*/
